body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #b81414;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li h3 {
    font-size: 1.8em;
    margin: 0;
}

li div img {
    margin-left: 10px;
    width: 80px;
    margin-right: 20px;
}

li p {
    font-size: 1em;
    color: #666;
    flex: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}


li a:hover {
    text-decoration: underline;
    color: #388E3C;
}
