<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nivel 19 - Clases</title>
    <link rel="stylesheet" href="../css/style1.css">
</head>
<body>
<header>
    <h1>NIVEL </h1><img src="../img/LEVEL19.png" width="90px" alt="IMG">
</header>

<main>
    <section>
        <ul>
            <li th:each="clase : ${clases}">
                <div>
                    <img th:src="${clase.imagen}" alt="IMAGEN" width="5%">
                </div>
                <h3 th:text="${clase.name}"></h3>

                <p th:text="${clase.descripcion}">Descripcion de la clase</p>
                <a th:href="@{'clasesDetails/detalles_clase_'+ ${clase.name} + '.html'}">Ver detalles de subclases</a>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
