<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Subclases</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Lista de Subclases</h1>
</header>

<main>
    <section>
        <h2>Subclases</h2>
        <ul>
            <li th:each="subClase : ${subClases}">
                <h3 th:text="${subClase.name}">Nombre de la Subclase</h3>
                <a th:href="@{'../subClasesDetails/detalles_sub_clase_' + ${subClase.name} + '.html'}">Ver detalles de la subclase</a>
            </li>
        </ul>
    </section>

    <a href="../index.html" class="button">Volver a la página principal</a>
</main>
</body>
</html>
