<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Subclases</title>
    <link rel="stylesheet" href="../../css/style2.css">
</head>
<body>
<header>
    <h1>Lista de Subclases</h1>
</header>

<main>
    <section>
        <ul>
            <li th:each="subClase : ${subClases}">
                <button class = "nombre" ><a th:href="@{'../subClasesDetails/detalles_sub_clase_' + ${subClase.name} + '.html'}" ><h3 th:text="${subClase.name}">Nombre subclase</h3></a></button>
            </li>
        </ul>
    </section>

    <button><a id="derecha" href="../index.html">⌂ Volver a Inicio</a></button>

</main>
</body>
</html>

