<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Detalles de la Clase ' + ${subClase.name}">Detalles de la Clase</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1 th:text="${subClase.name}">Nombre de la Clase</h1>
</header>

<main>
    <section>
        <h2>Subclases de esta Clase</h2>
        <ul>
            <li th:each="subClases : ${subClase}">
                <h3 th:text="${nameSubclase}">Nombre de la Subclase</h3>
                <a th:href="@{'detalles_subclase_' + ${nameSubclase} + '.html'}">Ver detalles de la subclase</a>
            </li>
        </ul>
    </section>

    <a href="C:\Users\marti\IdeaProjects\M_S_P_ProjecteArxius\src\main\resources\html\index.html" class="button">Volver a la página principal</a>
</main>
</body>
</html>
